@import './colors.scss';
@import './typography.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  font-family: $font-primary;
}

.wrap {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px;
}