@import "./colors.scss";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  position: relative;
  margin: 0 auto;
}

.wrap {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px;
}
