@import '@/assets/global/typography.scss';

.search {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 120px);

  &__info {
    font-family: $font-secondary;

    p {
      font-size: 14px;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}