@import '@/assets/global/colors.scss';
@import '@/assets/global/typography.scss';

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 120px);
  text-align: center;

  &__error {
    max-width: 500px;;

    p {
      font-size: 14px;
      color: $red300;
    }
  }

  &__group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    p {
      font-family: $font-primary;
      margin: 0;
    }
  }

  .form__input {
    padding: 5px;
    border-top: 0;
    border-right: 0;
    border-left: 0;

    &:focus {
      padding: 0;
      border-color: transparent;
    }
  }
}
